.drawer-toggle {
  cursor: pointer;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;

  width: 40px;
  height: 100%;
  padding: 10px 0;
}

.drawer-toggle__line {
  background-color: #fff;
  height: 3px;
  width: 90%;
}

@media only screen and (min-width: 500px) {
  .drawer-toggle {
    display: none;
  }
}